body{
    background-color: #000;
    scroll-behavior: smooth;
}

table{
    text-align: center; 
    margin: auto;
}

#menu{
    color:white;
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 10px;
    float: left;
    width: 200px;
}

.menu-button{
    width: inherit;
    line-height: 25px;
    margin: 0px;
    transition: 0.2s;
    padding: 3px;
    height: 25px;
}
.menu-button:hover{
    background-color: rgba(255,255,255,0.1)
}

#content{
    background-color: #ee0088;
    float: left;
    padding: 1em;
    width: 50em;
    text-align: justify;
}

#container{
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    padding: 20px;
    width: 800px;
}
pre{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}
a:hover{
    color: #ee0088
}