html{
    scroll-behavior: smooth;
}

hr{
    color: white;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #3d0023;
    font-family: 'Ubuntu', sans-serif;
}

table{
    text-align: center; 
    margin: auto;
}

#titlebar{
    background-color: black;
    color: white;
    width: 100%;
    line-height: 90px;
    height: 90px;
    text-align: center;
    font-size: 50px;
}

#menu{
    color:white;
    position: fixed;
    left: 0px;
    top: 90px;
    float: left;
    width: 270px;
}

.menu-button{
    width: 250px;
    line-height: 25px;
    margin: 0px;
    transition: linear 0.1s;
    padding: 3px;
    padding-left: 20px;
    height: 25px;
    background-color: rgba(255,255,255,0)
}
.menu-button:hover{
    background-color: rgba(255,255,255,0.1)
}

#content{
    color: white;
    background-color: #770043;
    float: left;
    padding: 1em;
    width: inherit;
    padding: 20px;
    text-align: justify;
}

#container{
    margin: auto;
    width: 50em;
}
pre{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 0.1s;
}
a:hover{
    color: #ee0088
}

table{
    color: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
td{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 3px;
    text-align: center;
}

.center-text{
    width: 100%; 
    text-align: center;
}

.logic-table{
    margin: 5px;
    border: none;
}

.logic-cell{
    border: none;
}

.logic-header{
    font-style: italic;
    font-weight: bold;
}

.striped-bg{background: linear-gradient(
    to bottom,
    #fff,
    #fff 50%,
    #000 50%,
    #000
  );
  /* The rectangle in which to repeat. 
     It can be fully wide in this case */
  background-size: 100% 5px;
}